.modal {
    display: none;
    position: fixed;
    top: 120px;
    right: 0;
    bottom: auto;
    left: 0;

    width: 500px;
    padding: 40px 50px;
    padding-bottom: 40px;
    margin: auto;

    color: var(--text-color);
    background-color: var(--page-bg);
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);

    @media (max-width: $mobile-size) {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    &-headline {
        color: var(--text-color);
        text-align: center;
        font-family: var(--font-main);
        font-size: 24px;
        font-weight: 600;
        line-height: 40px;
    }

    &-show {
        display: block;
        animation: bounce 0.6s;
    }

    &-close {
        position: absolute;
        top: 0;
        right: -34px;
        width: 22px;
        height: 22px;
        font-size: 0;
        background-color: transparent;
        border: 0;
        cursor: pointer;
    }

    &-close::before,
    &-close::after {
        content: "";
        position: absolute;
        top: 25px;
        right: 50px;
        width: 25px;
        height: 3px;
        background-color: var(--text-color-accent);
    }

    &-close::before {
        transform: rotate(45deg);
    }

    &-close::after {
        transform: rotate(-45deg);
    }
}

.reservation-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
}

.reservation-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    margin: 0;

    &:first-of-type {
        padding-top: 30px;
    }

    &:last-of-type {
        margin-bottom: 30px;
    }
}

.reservation-item input {
    box-sizing: border-box;
    width: 250px;
    font: inherit;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: transparent;
    border: 2px solid var(--text-color-accent);

    @media (max-width: $mobile-size) {
        width: 60%;
    }
}

.reservation-item input:focus {
    border-color: var(--text-color);
}

.reservation-form .button {
    background-color: var(--accent-bg);
    color: var(--text-color-iverted);
    display: block;
    padding: 10px 0;
    width: 100%;

    &:hover {
        cursor: pointer;
        color: var(--text-color-accent);
        background-color: #293152;
    }

    &:active {
        cursor: pointer;
        color: #e0caa5;
        background-color: #4b5996;
    }
}


@keyframes bounce {
    0% {
        transform: translateY(-2000px);
    }

    70% {
        transform: translateY(30px);
    }

    90% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}